@charset "UTF-8";

/*画面1*/
.gray {
	font-size: 11;
	padding: 1.0em;
	margin:10px 20px;
	background-color: #a9a9a9;
}
.shori_radio{
	margin:10px 20px;
}

span {
	display: inline-block;
	width: 10em;
}

.botan {
	float: right;
}

.blue {
	font-size: 11;
	padding: 0 .5em;
	left: 20px;
	top: 10px;
	background-color: #b0e0e6;
	margin: 10px 20px;
}

.kankaku {
	margin: 10px 20px;
}
.kensaku_button{
	float:right;
	width:100px;
}

/*画面2*/

.syohin {
	float: left;
	margin:10px 20px;
}

.blue2 {
	float: right;
	margin-right:20px;
}
.shinki_button{
	width:100px;
}
.shohin_code{
	width:120px;
}
.blue3 {
	float: right;
	margin-right:20px;
}
.tyu_dan{
	width:100px;
}

.blue_influ {
	clear: both;
}

/*画面3*/
.button1 {
	margin : 10px 20px;
}

.button2 {
	margin :10px 20px;
}

.button3 {
	margin-right: 20px;
	float: right;
}

table {
	border: solid 1px black;
	border-collapse: collapse;
	margin :10px 20px;
}
.NO{
	width:40px;
}
.Taisyo{
	width:40px;
}
.Hyo_color {
	background-color: #ffe4c4;
}
.Hyo_code{
	width:120px;
}

.Hyo_name{
	width:300px;
}
.name_size1{
	width:300px;
}
.name_size2{
	width:300px;
}
.name_size3{
	width:300px;
}
.name_size4{
	width:300px;
}
.name_size5{
	width:300px;
}

.tanka{
	width:120px;
}
#singleSelect1{
	width:310px;
}
#singleSelect2{
	width:310px;
}
#singleSelect3{
	width:310px;
}
#singleSelect4{
	width:310px;
}
#singleSelect5{
	width:310px;
}