@charset "UTF-8";

/*画面1*/
.gray {
	font-size: 11;
	padding: 0 .5em;
	left: 20px;
	top: 10px;
	font-weight: bold;
	background-color: #a9a9a9;
}

span {
	display: inline-block;
	width: 10em;
}

.botan {
	float: right;
}

.blue {
	font-size: 11;
	padding: 0 .5em;
	left: 20px;
	top: 10px;
	background-color: #b0e0e6;
	margin: 10px 20px;
}

.kankaku {
	margin: 10px 20px;
}
.kensaku_button{
	float:right;
}

/*画面2*/

.syohin {
	float: left;
	margin:10px 20px;
}

.blue2 {
	float: right;
	margin-right:20px;
}

.blue3 {
	float: right;
	margin-right:20px;
}

.blue_influ {
	clear: both;
}

/*画面3*/
.button1 {
	margin : 10px 20px;
}

.button2 {
	margin :10px 20px;
}

.button3 {
	margin-right: 20px;
	float: right;
}

table {
	border: solid 1px black;
	border-collapse: collapse;
	margin :10px 20px;
}

.Hyo_color {
	background-color: #ffe4c4;
}
input.name_size{
	width:400px;
}
